* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;

}
body {
    background-color: #EDF2F4;
}

header {
    display: flex
    
}

.header_nav {
    background-color: #EDF2F4;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;    
    align-items: center;
    
}

.header_nav_logo {
    width: 200px;
    height: 100px;
    margin: 60px;
    display: flex;
    justify-content: start;

}

.header_nav_ul {
    display: flex;    
    list-style: none;
    gap: 40px;
        
}

li {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase ;
}

.header_nav_ul a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase ;
}

.header_nav_button button {
    border-radius: 30px;
    width: 200px;
    height: 50px;
    margin: 60px;
    border: solid 1px #000000;
    transition: 1s;
    cursor: pointer;
    
}

button {
    cursor: pointer;
}

button:hover , .input_submit:hover {
    background-color: #EF233C;
    
}

.jumbotron {
    padding: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}  
.subtitulo {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 10vw;
    color: #EF233C;
    
}

h2 {
    text-align: start;
    font-size: 2vw;

}

.jumbotron_button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px;
    height: 40px;
   
}



.button_unete {
    display: flex;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 16px 36px 0px 50px;
    font-size: 1em;
    border-radius: 30px;
    border: solid 1px #000000;
    
        
}

.Box1 {
    margin: 60px;
    display: flex;
    justify-content: space-between;

}

.Box1_texto {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 0px;
    gap: 20px;
   
    
   
}

p {
    display: flex;
    width: 400px;    
}

.auto_rojo {
    width: auto;


}

.Box2{
    margin: 60px;
    height: 21vh;
    display: flex;
    justify-content: end;
    gap: 40px;

    
}

.Box3 {
   
    margin: 60px;
    display: flex;
    

}
.auto_negro {
    width: 60vh;
}

.Box3_texto {
    margin: 0px 0px 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}



.Box4 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 60px 0px 0px 0px;
    
}

.input {
   position: relative;
    margin: 6%;
    
}

.input_text {
    margin: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.etiqueta {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.3s;

}

.input_input {
    border-radius: 10px;
    border: none;
    width: 300px;
    height: 60px;
    padding: 10px;
}

.input_submit {
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: solid 1px #000000;
    transition: 1s;
    cursor: pointer;
}

.etiqueta:hover {
    color: #ffffff;
}
/* 
como quitar el texto al pasar el mouse por la etiqueta? */

footer {
    
    background-color: #8D99AE;
    width: 100vw;
    height: 303px
    display: grid;
    grid-template: 1fr 1fr 1fr;
    
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer_logo2 {
    display: flex;
    justify-content: space-around;
    
    margin: 40px 0px 0px 60px;
}

.logo2 {
    width: 150px;
    height: 100px;

}

.footer_texto{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer_redes {
    
    margin: 60px 60px 60px 60px;

}

.footer_redes_facebook {
   
    width: 45px;
}

.footer_redes_twitter {
    width: 50px;
}

.footer_redes_instagram {
    width: 50px;
}